<div class="b-dashboard">

	<div class="b-dashboard__item">
		{{> modules-card-lab }}
	</div>

	<div class="b-dashboard__item">
		{{> modules-card-blog }}
	</div>

	<div class="b-dashboard__item">
		{{> modules-card-work }}
	</div>

	<div class="b-dashboard__item">
		{{> modules-card-blog }}
	</div>

	<div class="b-dashboard__item">
		{{> modules-card-lab }}
	</div>

	<div class="b-dashboard__item">
		{{> modules-card-blog }}
	</div>

	<div class="b-dashboard__item">
		{{> modules-card-blog }}
	</div>

	<div class="b-dashboard__item">
		{{> modules-card-work }}
	</div>

	<div class="b-dashboard__item">
		{{> modules-card-lab }}
	</div>

</div>