<!-- Begin .b-footer -->
<footer class="b-footer" role="contentinfo">
	<div class="g-container">
		<p class="copyright">&copy; 2013 Company Name. All rights reserved.</p>
	</div>
</footer>
<!-- End .b-footer -->