<div class="b-card b-card--work">
	<div class="b-card__inner">
		<div class="b-card__image">
			<img src="http://placehold.it/350x150">
			<div class="b-card__image__overlay"></div>
		</div>

		<div class="b-card__content">
			<h3 class="b-card__category">Work // 05.01.2016</h3>
			<h2 class="b-card__title">Lorem ipsum dolor sit</h2>
			<a href="" class="b-card__more-link">Read More</a>
		</div>
	</div>
</div>