<div class="b-card b-card--blog">
	<div class="b-card__inner">
		<div class="b-card__content">
			<h3 class="b-card__category">Blog // 17.01.2016</h3>
			<h2 class="b-card__title">Lorem ipsum dolor sit</h2>
			<p class="b-card__bodytext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dignissimos enim excepturi facilis labore.</p>
			<a href="" class="b-card__more-link">Read More</a>
		</div>
		<div class="b-card__meta">
			<span class="">SCSS, Gulp</span>
			<span class="">read more</span>
		</div>
	</div>
</div>