<div class="b-card b-card--lab">
	<div class="b-card__inner">
		<div class="b-card__image__overlay"></div>
		<div class="b-card__content">
			<h3 class="b-card__category">Lab // 03.01.2016</h3>
			<h2 class="b-card__title">Lorem ipsum dolor sit</h2>
			<a href="" class="b-card__more-link">Read More</a>
		</div>
		<div class="b-card__meta">
			<span class="">SCSS, Gulp</span>
			<span class="">read more</span>
		</div>
	</div>
</div>