ul.rte_ul, ol.rte_ol {
	margin-left: 25px;
	list-style: disc;

	li {
		margin: 5px 0 5px 0;
	}

	ul, ol {
		margin-left: 25px;
		list-style: disc;
	}
}

ol.rte_ol {
	list-style: decimal;

	ol {
		list-style: decimal;
	}
}

// helper class in order to display the list styles immediately in RTE
.htmlarea-content-body {

	ul {
		@extend .rte_ul;
	}

	ol {
		@extend .rte_ol;
	}

}