ul, ol {
	margin-left: 25px;
	list-style: disc;

	li {
		margin: 5px 0 5px 0;
	}

	ul, ol {
		margin-left: 25px;
		list-style: disc;
	}
}

ol {
	list-style: decimal;

	ol {
		list-style: decimal;
	}
}