/*------------------------------------*\
		$TABLES
\*------------------------------------*/

table {
	width: 100%;

	th,
	td {
		text-align: left;
	}
}

/**
 * Bordered tables (no bg-colors)
 */
table.table--bordered {

	th,
	td {
		border: 1px solid $c-table-border;

		&:empty {
			border: none;
		}
	}

	thead tr:last-child th {
		border-bottom-width: 2px;
	}

	tbody tr th:last-of-type {
		border-right-width: 2px;
	}
}

/**
 * Striped tables (colors)
 */
table.table--striped {

	th {
		background: $c-table-head-bg;
		color: $c-table-head;
		font-weight: bold;
	}

	tbody tr:nth-of-type(odd) {
		background-color: $c-table-odd-bg; /* Override this color in your theme stylesheet */
	}

	tbody tr:nth-of-type(even) {
		background-color: $c-table-even-bg; /* Override this color in your theme stylesheet */
	}
}