<!-- Begin .b-menu -->
<nav class="b-menu">
	<ul class="b-menu__list">
		<li class="b-menu__list__item b-menu__list__item--first">
			<a href="{{ url }}">Home</a>
		</li>
		<li class="b-menu__list__item">
			<a href="{{ url }}">About</a>
		</li>
		<li class="b-menu__list__item">
			<a href="{{ url }}">Blog</a>
		</li>
		<li class="b-menu__list__item b-menu__list__item--last">
			<a href="{{ url }}">Contact</a>
		</li>
	</ul>
</nav>
<!-- End .b-menu -->